# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
env/

# Virtual environment
venv/
.venv/
env.bak/
venv.bak/

# Pyenv
.python-version

.DS_Store
*.swp
*.swo
*.tmp
*.bak
*.log

# Sensitive information
.env
# config.ini
# secrets.json

books.csv
data/