<!DOCTYPE html>
<html>
<head>
    <title>Book Recommendation Finder</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <h1>Submit a List of Books</h1>
    <form method="POST">
        <label for="book_list">Enter Book List:</label><br>
        <textarea id="book_list" name="book_list" rows="10" cols="80">{{ book_list_text }}</textarea><br><br>
        <input type="submit" value="Look up book titles">
        {% if job_id %}
            <input type="hidden" id="job_id" value="{{ job_id }}">
            <div id="status" style="margin-top: 15px; margin-bottom: 10px; font-weight: bold;"></div>
            <div id="result"></div>
        {% endif %}
    </form>
    <div id="confirmed_books"></div>

    <div id="common_keywords" style="display: none;"></div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>